* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Jost", sans-serif;
  background: #d9d9d9;
}

@mixin sizes($ancho,$alto){
  width: $ancho;
  height: $alto;
}

.producto__contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover, &:focus, &:active {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    color: rgb(163, 163, 163);
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

ul {
  list-style-type: none;
  justify-content: center;
  display: flex;

  li {
    display: inline-block;
  }
}

.nav {
  border-radius: 0px 0px 8px 8px;
}

.navItems {
  font-size: 30px;
  color: #252422;
}

ul li a {
  justify-content: center;
  font-size: 35px;
  padding-top: 25px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1e1e1e;
}

.container__logo {
  margin: 0;
  padding: 5px;
  padding-left: 30px;
}

.container__titulo {
  font-weight: 600;
  font-size: 35px;
  line-height: 65px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #252422;
}

.contenedorProductos {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
}

.producto {
  @include sizes(300px, 513px);
  .producto__imagen {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }
  .producto__nombre {
    font-family: 'Kelly Slab', cursive;
    font-style: normal;
    font-size: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .producto__nombreDesc {
    font-family: 'Kelly Slab', cursive;
    font-style: normal;
    font-size: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: darkgreen;
  }
  .producto__precio {
    font-family: 'Kelly Slab', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin: 0;
    margin-top: 5px;
  }
  .producto__precioDesc {
    font-family: 'Kelly Slab', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: darkgreen;
    text-align: center;
    margin: 0;
    margin-top: 5px;
  }
  .producto__boton {
    background: #252422;
    border: 2px solid #1e1e1e;
    border-radius: 25px;
    @include sizes(150px, 60px);
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #d9d9d9;
    text-align: center;
    margin-top: 15px;
    &:hover {
      background: #d9d9d9;
      color: #252422;
    }
  }
}

.footer {
  background: #ffffff;
  border-radius: 10px;
}

.social {
  @include sizes(300px, 150px);
a {
    font-size: 25px;
  }
}

.logosmedia {
  padding-top: 9px;
  padding-left: 20px;
}

.local {
  margin-top: 20px;
  margin-bottom: 20px;
  @include sizes(450px, 350px);
  background-image: url("../images/local.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid;
  border-radius: 10px;
}

.contenido {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 25px;
  text-align: justify;
}

.contenedorContact {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.formContact {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d9d9d9;
  border: 2px solid #1e1e1e;
  border-radius: 20px;
}

.botonEnviar {
  text-align: center;
  background: #252422;
  border: 2px solid #1e1e1e;
  border-radius: 25px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #d9d9d9;
  text-align: center;
  width: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input {
  width: 400px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(204, 204, 204);
  color: white;
}

.textArea {
  border-radius: 4px;
  @include sizes(400px, 130px);
  font-size: 25px;
  margin-bottom: 25px;
  padding-left: 10px;
  background-color: rgb(204, 204, 204);
  border: 2px solid black;
  border-radius: 10px;
  color: white;
}

.botonEnviar:hover {
  background: #d9d9d9;
  color: #252422;
}

.h1contact {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 35px;
}

.cProducto {
  @include sizes(80%, 650px);

  background-color: white;
  border: 2px solid #1e1e1e;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.cProducto__imagen {
  width: 100%;
  height: 97%;
  border-radius: 20px;
  margin: 10px;
  border: 2px solid #1e1e1e;
}

.cProducto__informacion {
  width: 100%;
  height: 91%;
  background-color: rgb(180, 180, 180);
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  border: 2px solid #1e1e1e;
}

.informacion__producto {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.cont{
  text-align: center;
  border: 2px solid #1e1e1e;
    border-radius: 25px;
  margin-top: 30px;
}
